body {
	background-color: rgb(140, 0, 255);
	margin: 0;
	padding: 0;
	font-family: lato;
}
.header {
	height: 100px;
	background-color: rgba(0,0,0,.6);
}
.logo {
	display: inline;
	text-align: left;
	margin: 20px;
}
.logo img {
	width: 20%;
	height: 60px;
}
.menu {
	display: inline;
	text-align: right;
	margin: 20px; 
}
.menu ul {
	display: flex;
	text-decoration: none;
	font-size: 16px;
}
.menu ul li {
	display: flex;
	text-decoration: none;
	font-size: 18px;
    padding: 0 20px;
}
.menu ul li a {
	text-decoration: none;
	color: #d65050;
	transition: color .5s;
}
.menu ul li a:hover {
	color: #181818;
}
.menu li button {
	text-decoration: none;
	color: #ccc;
	transition: color .4s;
}
.menu li button:hover {
	color: #fff;
}
.logout-btn{
    padding: 5px;
    display: block;
    border: 1px solid #f4f4f4;
    border-radius: 2px;
    font-weight: 500;
    background: none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all .5s;
}
